.put{
    background: blueviolet;
    background-size: cover;
    opacity: 60%;
}
#lis{
  background: url("https://images.pexels.com/photos/965345/pexels-photo-965345.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  
}
